<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>About</h1>
    <h2>James Alan Hetfield</h2>
    <div class="about">
      <img src="/headshot.jpg" alt="headshot" class="headshot" />
      <p>
        Born August 13, 1963, James Hetfield is an American musician and
        songwriter.<br />
        Lead vocalist, rythm guitarist, co-founder and main songwriter of heavy
        metal band Metallica. Mainly known for his intricate rhythm playing,
        although he occasionally performs lead guitarist duties, both live and
        in recordings.<br />
        Hetfield co-founded Metallica in October 1981, after answering an ad by
        drummer Lars Ulrich. Metallica has won 9 Grammy Awards and released ten
        studio albums, three live albums, four extended plays and 24 singles.
      </p>
      <h2>Personal Life</h2>
      <p>
        Hetfield married Francesca Tomasi on August 17, 1997, having three
        children together. They lived together in Vail, Colorado for 25 years,
        before Hetfield filed for divorce in 2022. <br />
        Hetfield's son, Castor is also a musician for the band Bastardane, based
        in Svannah, Georgia. <br />
        Hetfield has logn struggled with addiction problems. In 2001, he entered
        a rebah programm (documented in the film
        <i>Metallica: Some Kind of Monster</i>), and began maintaining total
        abstinence from alcohol. In a 2010 intervied with So What!, the official
        magazine of Metallica's fan club, Helfield stated that he is a "reborn
        straight edge". However, in 2019, Hetfield once again entered rehab,
        forcing Metallica to cancel their Australia/New Zealand leg of the
        WorldWired Tour.
      </p>
    </div>
    <a href="/home">See Home Page</a>
    <a href="/works">See Works Page</a>
    <a href="/gallery">See Gallery Page</a>
  </body>
</html>
