<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div id="pictures">
      <img src="/129994_0_wide_ver1649783671.jpg" alt="oldschool" />
      <img src="/James-Hetfield-Giants-1180x664.jpg" alt="giants" />
      <img src="/metallica.jpeg" alt="metallica" />
      <img
        src="metallica13-2000-69bb77cb73f049698934618c46fba775.jpg"
        alt="closeup"
      />
      <img
        src="/james-hetfield-metallica-photo-tim-mosenfelder-getty@Getty-2000x1500-1.jpg"
        alt="playing"
      />
      <img src="/830295.png" alt="playing2" />
      <img src="/playing.jpg" alt="playing3" />
      <img src="/Metallica-Logo.png" alt="logo" />
    </div>
    <a href="/home">See Home Page</a>
    <a href="/about">See About Page</a>
    <a href="/works">See Works Page</a>
  </body>
</html>
