<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Works</h1>
    <h2>Metallica</h2>
    <p>
      Having been credited with writing or co-writing over 80% of Metallica's
      songs, James Hetfield is considered one of the most hands-on frontman of
      all time.
    </p>
    <p>
      In 2009, he was ranked No.8 in Joel McIver's book
      <i>The 100 Greatest Metal Guitarists</i> and No. 24 by Hit Parader on
      their list of the <i>100 Greatest Metal Vocalists of All Time</i>.
      <br />In Guitar World's poll, Hetfield was placed as the 19th greatest
      guitarist of all time. Rolling Stone magazine placed him as the 87th
      greatest guitarist of all time.
    </p>
    <h3>Discography</h3>
    <h4>Studio Albums</h4>
    <h5>Kill'Em All</h5>
    <p>
      First studio album, released in 1983, peaked No 66 in North American
      charts.
    </p>
    <h5>Ride the Lightning</h5>
    <p>
      Second studio album, released in 1984, peaked No 48 in North American
      charts, with 4.3 million sales worldwide.
    </p>
    <h5>Master of Puppets</h5>
    <p>
      Third studio album, released in 1986, peaked No. 29 in North American
      charts, with 4.5 million sales worldwide.
    </p>
    <h5>...And Justice for All</h5>
    <p>
      Fourth studio album, released in 1988, first album with their second bass
      player, Jason Newstad, after the tragic passing of founding member Cliff
      Burton. Peaked at number 6 in North American charts, with 5.3 million
      sales worldwide.
    </p>
    <h5>Metallica or Black Album</h5>
    <p>
      Fifth studio album, released in 1991, peaked at number 1 worldwide, with
      17.3 million sales worldwide.
    </p>
    <h5>Load</h5>
    <p>
      Sixth studio album, released in 1996, peaked at number 1 worldwide, with 5
      million sales worlwide.
    </p>
    <h5>Reload</h5>
    <p>
      Seventh studio album, released in 1997, peaked at number 1 in North
      American charts, with 4 millions sales worlwide.
    </p>
    <h5>St.Anger</h5>
    <p>
      Eight studio album, released in 2003. First studio album with new bass
      player, Robert Trujillo, after the departure of Jason Newstead. Peaked at
      number 1 Worldwide, with 2 million sales worlwide.
    </p>
    <h5>Death Magnetic</h5>
    <p>
      Ninth studio album, released in 2008, peaked at number 1 worldwide with 2
      million sales in the US alone.
    </p>
    <h5>Hardwired... to Self-Destruct</h5>
    <p>
      Tenth studio album, released in 2016, first and only album under their own
      label, Blackend, peaked at number 1 worlwide with 1 million sales in the
      US alone.
    </p>
    <h4>Notable Live Albums</h4>
    <h5>S&M</h5>
    <p>
      Second live album released. A combination with the San Francisco symphony.
      Released in 1999.
    </p>
    <h5>S&M2</h5>
    <p>
      Eleventh live album. The second colaboration with the San Francisco
      Symphony. Released in 2020.
    </p>

    <a href="/home">See Home Page</a>
    <a href="/about">See About Page</a>
    <a href="/gallery">See Gallery Page</a>
  </body>
</html>
